.add-quote-container {
  padding: 15px 0;
  text-align: center;
  border: 1px solid #777;
  width: 600px;
  margin: 0 auto;
}
.text-area {
  display: block;
  margin: 0 auto 15px;
}
.add-input {
  width: 250px;
  height: 20px;
}