.categories {
  display: flex;
  flex-basis: 90%;
  flex-direction: column;
}
.categories ul li {
  margin-bottom: 10px;
}

.aside-link {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.aside-link:hover {
  color: #FF6D00;
}