.quotes-wrapper {
  display: flex;
}
.quotes-list {
  flex-grow: 1;
}
.quotesList-item {
  display: flex;
  flex-wrap: nowrap;
}
.quote-item {
  width: 92%;
}
.icons-panel {
  width: 8%;
  text-align: right;
}
.icon {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  color: #333;
}
.icon-edit:hover {
  cursor: pointer;
  color: #2E7D32
}
.icon-delete:hover {
  cursor: pointer;
  color: #C62828;
}
