.main-nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.main-nav {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  text-align: center;
}
.link {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.link:hover {
  color: #FF6D00;
}
.active{
  color: #FF6D00;
}
